body{
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	margin: 0;
	padding: 0;
}

/* HEADER*/

header{
	height: 770px;
	background-image: url(../img/bg_header.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

nav{
	line-height: 94px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li{
	display: inline-block;
	padding: 5px 10px;
}

.menu li a{
	color: #fff;
	font-family: "RobotoRegular", sans-serif;
}

.menu li a:hover{
	text-decoration: none;
	font-size: 18px;
	border: 1px solid #fff;
	padding: 5px;
}

.navbar-header p{
	font-size: 30px;
	font-weight: bold;
	font-family: "RobotoRegular", sans-serif;
	color: #fff;
	padding-top: 10px;
}

.title_block{
	text-align: center;
	margin-top: 315px;
}

.title_block h1 {
	color: #fff;
	font-size: 50px;
	font-family: "RobotoRegular", sans-serif;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.title_block p{
	color: #fff;
	font-size: 18px;
	margin-bottom: 40px;
}

.my_btn{
	background: none;
	border: 1px solid #fff;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	padding: 5px 30px;
}

.my_btn:hover{
	background-color: #fff;
	color: #c0301c;
}

/* SERVICES */

.services, .latest_work{
	text-align: center;
	margin-top: 90px;
}

.services h2,.about_us h2, .latest_work h2{
	font-size: 20px;
	text-transform: uppercase;
	padding-bottom: 5px;
}

.services p,.about_us p{
	font-size: 14px;
	margin-top: 15px;
}


.service_item{
	margin-top: 60px;
}

.service_item h3{
	font-size: 16px;
	text-transform: uppercase;
}

.service_item p{
	font-size: 14px;
	text-align: justify;
}

/* ABOUT US */

.service_info{
	text-align: center;
	padding: 30px 0;
}

.service_info p{
	text-align: justify;
}

.about_us{
	margin-top: 100px;
	text-align: center;
}

.our_team{
	position: relative;
}

.our_team h4{
	padding-top: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.our_team p{
	font-size: 12px;
}
/*
.btn_group{
	margin-top: 210px auto;
}

.btn_group a{
	width: 25px;
	height: 25px;
	border: none;
	list-style: none;
	padding: 10px;
}

.btn_group a:hover{
	background-color: #c0301c;
}

.team_social_btn {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	opacity: 1;
}

.team_social_btn:hover{
	opacity: 1;
}*/


/* LATEST WORKS*/

.filter{
	margin-top: 15px;
	margin-bottom: 50px;
}

.filter button{
	color: #555555;
	margin-right: 25px;
	background-color: transparent;
	border: none;
	padding: 0;
}

.filter button:hover{
	color: #c0301c;
	background-color: none;
	border: none;
}

.filter button:focus{
	color: #c0301c;
}

.latest_img_box img{
	margin-bottom: 30px;
}

/* CALL TO ACTION */

.callToAction {
	margin: 70px 0;
	/*position: relative;*/
    background-image: url("../img/call_to_action.jpg");
    min-width: 100%;
    height: auto;
    display: block;
}

.action-block {
	/*position: absolute;*/
}

.callToAction h2 {
	color: #fff;
	font-size: 30px;
	font-family: "RobotoRegular", sans-serif;
	padding-top: 80px;
}

.callToAction button {
	margin-top: 45px;
}