<h3>About me:</h3>

<b>Date of birth:</b> 09 September, 1988<br/>
<b>Place of living</b> Vyshneve, Kiev region<br/>
<br>
<b>Education:</b>
<b>2005-2010 -</b> "Kyiv National University of Construction and Architecture"<br/>
<b>Specialty: </b>Industrial and civil engineering<br>
<br/>
<b>Additional information:</b>
<ul class="list">
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Married, no children</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>International passport</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Ready for business trip, willing to relocate</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Class "В" driver license</li>
</ul>

<b>Hobbies:</b>
<ul class="list">
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>I like taking photos</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Play the guitar</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Travelling</li>
</ul>

<b>Languages:</b>
<ul class="list">
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Russian - fluent</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Ukrainian - mother tongue</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>English - pre-intermediate (A2-В1)</li>
</ul>