<div>
    <h3>Welcome!</h3>If you have reached this page, most likely you are looking for an employee.<br/>
    Spend 5-10 minutes of your time and look at my CV.<br/>
    You may be interested in my skills.  In any case, I will be glad to get feedback.<br/>
    Thanks and have a nice day!
    <br>
    <br>

    <h3>Maksym Yakovenko</h3>
    <p>
        <script>
            var birthday = new Date("9/9/1988");
            var today = new Date();
            var years = today.getFullYear() - birthday.getFullYear();

            birthday.setFullYear(today.getFullYear());
            if (today < birthday) {
                years --;
            }
            document.write(years + " years old");
        </script>
         Vyshneve, Ukraine</p>
    <p><b>Objective:</b><br> To obtain Junior WEB Front-end Developer position</p>

    <b>Technical skills:</b>
    <ul class="list">
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>HTML, CSS, JavaScript, JQuery, Bootstrap, Git</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Creating adaptive web sites</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>IDE: VisualStudio</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Adobe Photoshop</li>
    </ul>
    <b>Plans:</b>
    <ul class="list">
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>To develop and apply existing skills</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Become a full - Front-end developer</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>To reach Senior Front-end Developer level</li>
    </ul>
</div>