<div>
    <h3>My practice page</h3>
    <p>You can look my projects from first till nowadays</p>
    <br>
    <br>
    <h4>Sites or pages</h4>
    <ul class="list">
        <li><a href="../../practice/3_site/index.html">Adaptive Landing Page (Cuda template)</a></li>
        <li><a href="../../practice/2_site/index.html">The first project</a></li>
    </ul>
    <h4>JavaScript</h4>
    <ul class="list">
        <li><a href="../../practice/4_javascript/index.html">JavaScript apps</a></li>
    </ul>
</div>

