<div>
    <h3>My practice page</h3>
    <p>You can look my projects from first till nowadays</p>
    <br>
    <br>
    <h4>Sites or pages</h4>
    <ul class="list">
        <li>- <a href="http://practice.weblink.pp.ua/" target="_blank">Adaptive Landing Page (Cuda template)</a></li>
        <li>- <a href="http://practice2.weblink.pp.ua/" target="_blank">The first project</a></li>
    </ul>
    <h4>JavaScript</h4>
    <ul class="list">
        <li>- <a href="http://weblink.pp.ua/" target="_blank">JavaScript apps</a></li>
    </ul>
</div>