<h3>Про мене</h3>

<b>Дата народження:</b> 09 вересня 1988<br/>
<b>Місце проживання: </b> м. Вишневе, Київська область<br/>
<br>
<b>Освіта:</b>
<b>2005-2010рр -</b> "Київський Національний університет будівництва та архітектури"<br/>
<b>Спеціальність: </b> Промислове та цивільне будівництво<br>
<br/>
<b>Додаткова інформація:</b>
<ul class="list">
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Одружений, дітей немає</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Маю закордонний паспорт</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Готовий до відряджень, готовий до переїзду</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Права категорії "В"</li>
</ul>

<b>Хобі:</b>
<ul class="list">
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Люблю фотографувати</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Граю на гітарі</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Люблю подорожувати</li>
</ul>

<b>Мова:</b>
<ul class="list">
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Русский - вільно</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Українська - рідна</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>English - нище середнього (A2-В1)</li>
</ul>


