<div>
    <h3>Вітаю Вас!</h3> Якщо ви потрапили на цю сторінку, то, ймовірніше за все, шукаєте колегу.<br/>
    Приділіть 5-10 хвилин Вашого часу та ознайомтесь з моїм резюме.<br/>
    Мої навички можуть зацікавити Вас. У любому випадку буду радий отримати зворотній зв'язок.<br/>
    Дякую та гарного Вам дня! 
    <br>
    <br>
    <h3>Яковенко Максим</h3>
    <p>27 років, м. Вишневе, Україна</p>
    <p><b>Мета:</b><br> Отримання посади Junior WEB Front-end Developer</p>
    <b>Технічні навички:</b>
    <ul class="list">
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>CSS, JavaScript, JQuery, Bootstrap, Git</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Верстка адаптивних web-сайтів</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>IDE: VisualStudio</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Adobe Photoshop</li>
    </ul>
    <b>Плани:</b>
    <ul class="list">
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Розвивати та застосовувати наявні навички</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Стати повноцінним Frontend розробником</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Досягти рівня Senior Front-end Developer</li>
    </ul>
</div>

