<div>
    <h3>Це моя практична частина</h3>
    <p>Тут можна подивитись мої роботи. Від самої першої спроби і до сьогодення</p>
    <br>
    <br>
    <h4>Сайти або сторінки</h4>
    <ul class="list">
        <li>- <a href="http://practice.weblink.pp.ua/" target="_blank">Адаптивний дизайн Landing Page (Cuda template)</a></li>
        <li>- <a href="http://practice2.weblink.pp.ua/" target="_blank">Перша робота з верстки</a></li>
    </ul>
    <h4>JavaScript</h4>
    <ul class="list">
        <li>- <a href="http://weblink.pp.ua/" target="_blank">JavaScript додатки</a></li>
    </ul>
</div>

