<div>
    <h3>Контакти:</h3>
    <table class="contact">
        <tr>
            <th><i class="fa fa-mobile" aria-hidden="true"></i></th>
            <td>+38(093)-762-20-07</td>
        </tr>
        <tr>
            <th><i class="fa fa-skype" aria-hidden="true"></i></th>
            <td>maximnorby</td>
        </tr>
        <tr>
            <th><i class="fa fa-envelope-o" aria-hidden="true"></i></th>
            <td><a href="mailto:mail.yakovenko.maksim@gmail.com">mail.yakovenko.maksim@gmail.com</a></td>
        </tr>
        <tr>
            <th><i class="fa fa-facebook" aria-hidden="true"></i></th>
            <td><a href="https://www.facebook.com/IakovenkoMaksym" target="_blank">Facebook</a></td>
        </tr>
        <tr>
            <th><i class="fa fa-linkedin" aria-hidden="true"></i></th>
            <td><a href="https://ua.linkedin.com/in/yakovenkomaksim" target="_blank">LinkedIn</a></td>
        </tr>
        <tr>
            <th><i class="fa fa-code-fork" aria-hidden="true"></i></th>
            <td><a href="https://github.com/YakovenkoMaksim" target="_blank">Git</a></td>
        </tr>
        <tr>
            <th><i class="fa fa-upload" aria-hidden="true"></i></th>
            <td><a href="/upload/CV_Yakovenko_ua.pdf" download>Завантажити резюме</a></td>
        </tr>
    </table>
</div>